<h2>Add a New Task!</h2>

<%= render partial: "form" %>
  <!-- <%= form_for @mytask,
    url: create_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit %>
  <% end %> -->
