<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Kranky" rel="stylesheet">
</head>

<body>

<h1><%= link_to "Get. Stuff. Done.", root_path %></h1>

<div id="login">
<% if @user %>
  <%= button_to "Logout", session_delete_path(session[:user_id]), method: :delete %>
<% else %>
  <p>Log in through github to start making your list!</p>
  <%= button_to "Github Login", "/auth/github" %>
<% end %>
</div>

<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<%= yield %>

<footer>
  <p> &copy; 2016</p>
</footer>
</body>
</html>
